{% load humanize %}

<html>
	<head>
		<title>Export products</title>
	</head>
	<body>
		<form method="POST">
			{% csrf_token %}
			<label><input type="checkbox" name="new_products">Only New products</label>
			<hr>
			{% for item in fields %}
				<label><input type="checkbox" name="props[]" value="{{ item }}" checked="checked">{{ item|title }}</label><br>
			{% endfor %}

			<input type="submit" name="" value="Export">
			<input type="button" value="Back" class="main-btn" onclick="history.go(-1);">
		</form>
	</body>
</html>